<section class="footers">
    <div class="footers-header">
        <div class="col-md-6 col-sm-12 und">
            <h2 class="text-center">Pages</h2>
            <p routerLink="/home" style="font-weight: 700;">Gif Palace</p>
            <p routerLink="/home">Home</p>
            
            <p routerLink="/gifs">Gifs</p>
            
            <p routerLink="/stickers">Stickers</p>
          
            <p routerLink="/search">Search</p>
           
        </div>
        <div class="vl"></div>
        <hr>
        <div class="col-md-6 col-sm-12">
            <h2 class="text-center">Engineer</h2>
            <p><span class="title">Developer: </span><span class="desc">Mash14</span></p>
           
            <p><span class="title">Github: </span><span class="desc"><a href="https://github.com/Mash14" target="_blank">https://github.com/Mash14</a></span></p>
            
            <p><span class="title">Tel: </span><span class="desc">0704485919</span></p>
            
            <p><span class="title">Email: </span><span class="desc">mashalonzo741@gmail.com</span></p>
            
            <p>Powered by <a href="https://giphy.com/" target="_blank" title="Thanks Giphy">Giphy</a></p>
        </div>
    </div>
    <div class="footers-body">
        <div class="now">
            <h5 class="text-center">Share App</h5>
        </div>
        <div class="blocky">
            <share-buttons [show]="10" theme="'material-dark'" [url]="''"></share-buttons>
        </div>
    </div>
    <div class="footers-footer">
        <h4 class="text-center">Gif Palace @copyright 2022</h4>
    </div>
</section>
