<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <app-navbar (startSearch)="searchGifs($event)"></app-navbar>
        <div class="now">
            <h1 class="text-center">GIFS</h1>
            <div *ngIf="searched_gifs.length > 1">
                
                <h3>Showing Results for "{{search_term}}"</h3>
                <div class="section">
                    <div *ngFor="let gif of searched_gifs">
                        <div class="section_image">
                            <img src="{{gif.url}}" alt="{{gif.title}}">
                        </div>
                    </div>
                </div>
            
            </div>
            <div *ngIf="searched_gifs.length < 1">
                
                <h4 routerLink="/trending/gifs">Trending Gifs</h4>
                <div class="section">    
                    <div *ngFor="let gif of trending_gifs">
                        <div class="section_image">
                            <img src="{{gif.url}}" alt="{{gif.title}}">
                        </div>
                    </div>
                </div>

                <h4>Random Gifs</h4>
                <div class="section">
                    <div *ngFor="let gif of unsearched_gifs">
                        <div class="section_image">
                            <img src="{{gif.url}}" alt="{{gif.title}}">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
</html>
