<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-navbar (startSearch)="search($event)"></app-navbar>
    <button (click)="searchGifs()">Bad girl</button>
    <div *ngFor="let gif of searched_gifs">
        <ul>
            <img src="{{gif.url}}">
            <p>Posted on {{gif.import_datetime|date}}</p>
            <p>Rating: {{gif.rating}}</p>
        </ul>
    </div>

    <button (click)="getTrendingGifs()">Trending</button>
    <div *ngFor="let gif of trending_gifs">
        <ul>
            <img src="{{gif.url}}">
            <p>Posted on {{gif.import_datetime|date}}</p>
            <p>Rating: {{gif.rating}}</p>
        </ul>
    </div>

    <button (click)="getRandomGif()">Random</button>
        <div *ngFor="let gif of random_gif">
        <ul>
            <img src="{{gif.url}}">
            <p>Posted on {{gif.import_datetime|date}}</p>
            <p>Rating: {{gif.rating}}</p>
        </ul>
    </div>
</body>
</html>
