
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">


    <nav class="na">
      <div class="container-fluid">

        <div class="topnav">
          <div routerLink="/" class="gify"><span class="resize">Gif Palace</span></div>
          <div class="item active" routerLink="/" title="Home" routerLinkActive='active'><span class="resize">Home </span> <i class="fa fa-house"></i></div>
          <div class="item" routerLink="/gifs" title="gif" routerLinkActive='active'><span class="resize">Gif </span> <i class="fa-solid fa-hand-holding-heart"></i></div>
          <div class="item" routerLink="/stickers" title="Sticker" routerLinkActive="active"><span class="resize">Sticker </span> <i class="fa-sharp fa-solid fa-note-sticky"></i></div>
          <div class="dropdown">
            <button class="dropbtn" title="Trending">
              <span class="resize">Trending </span> <i class="fa-solid fa-fire-flame-curved"> </i> &nbsp; <i class="fa-solid fa-caret-down"> </i>
            </button>
            <div class="dropdowns-content">
              <div class="drops" routerLink="/trending/gifs" routerLinkActive='active'><span class="resize">Gif </span> <i class="fa-solid fa-hand-holding-heart"></i></div>
              <div class="drops" routerLink="/trending/stickers"><span class="resize" routerLinkActive='active'>Sticker </span> <i class="fa-sharp fa-solid fa-note-sticky"></i></div>
            </div>
          </div>
          <div class="item" routerLink="/search" title="Search Gifs & Stickers" routerLinkActive='active'><span class="resize">Search </span> <i class="fa-brands fa-searchengin"></i></div>
          <div class="hide">
            <form class="d-flex" (ngSubmit)="search()" #searchingForm ="ngForm">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searcherm" [(ngModel)]="searchTerm" required>
              <button class="btn btn-outline-success" type="submit" (click)="search()">Search</button>
            </form>
          </div>
        </div>
        <div class="show">
          <form class="d-flex" (ngSubmit)="search()" #searchingForm ="ngForm">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searcherm" [(ngModel)]="searchTerm" required>
            <button class="btn btn-outline-success" type="submit" (click)="search()">Search</button>
          </form>
        </div>
      </div> 
    </nav>

