<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Gif Palace</title>
    <link rel="stylesheets" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/js/bootstrap.min.js">
</head>
<body>
    <div class="container">
        <app-navbar (startSearch)="search($event)"></app-navbar>
        
        <div class="now">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5" id="gify">
                    <h3 class="text-center" (click)="showGifs()">Gifs</h3>
                </div>
                <div class="col-md-5" id="sticky">
                    <h3 class="text-center" (click)="showStickers()">Stickers</h3>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div *ngIf="gifs.length > 1">
                <h5>Showing Results For {{searchTerm}}</h5>
                
                <div class="section" id="gifs">
                    <div class="#" *ngFor="let gif of gifs">
                        <div class="section_image">
                            <img src="{{gif.url}}">
                        </div>
                    </div>
                </div>
                
                <div class="section stickers" id="stickers">
                    <div *ngFor="let sticker of stickers">
                        <div class="section_image sticker">
                            <img src="{{sticker.url}}">
                        </div>
                    </div>
                </div>
            </div>
        
            <div *ngIf="gifs.length < 1">
                <h3 class="text-center">Search For Anything</h3>
            </div>
        </div>
    </div>
    
</body>
</html>

